header {
  width: 100vw;
  background-color: #f8f9fa;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 9999;
  box-shadow: var(--box-shadow);
}
@media only screen and (max-width: 767px) {
  header {
    font-size: 1em;
  }
}
@media only screen and (min-width: 768px) {
  header {
    font-size: 1.7vw;
  }
}
@media only screen and (min-width: 1024px) {
  header {
    font-size: inherit;
  }
}
header nav {
  width: 100%;
  max-width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  z-index: 2;
}
header nav a.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav a.logo svg {
  height: 2em;
  width: auto;
  transition: all 0.5s;
}
header nav .nav-profile-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
header nav .nav-profile-wrap .nav-profile-list {
  position: absolute;
  background-color: white;
  box-shadow: var(--box-shadow);
  top: calc(100% + 1em);
  right: 0;
  padding: 0em 0em;
  list-style: none;
  font-size: 1em;
  width: 17.5em;
  border-radius: 0.5em;
  opacity: 0;
  overflow: hidden;
  transform: translateY(1em);
  transition: opacity 0.33s ease, transform 0.33s ease;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
header nav .nav-profile-wrap .nav-profile-list.isActive {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}
header nav .nav-profile-wrap .nav-profile-list .nav-profile-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.75em 0.75em;
  border-bottom: 1px solid #DDDDD7;
  width: 100%;
}
header nav .nav-profile-wrap .nav-profile-list .nav-profile-details img {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  margin-right: 1em;
  box-shadow: var(--box-shadow);
}
header nav .nav-profile-wrap .nav-profile-list .nav-profile-details .flex {
  display: flex;
  flex-direction: column;
  text-align: left;
}
header nav .nav-profile-wrap .nav-profile-list .nav-profile-details .flex p {
  font-size: 0.8em;
}
header nav .nav-profile-wrap .nav-profile-list .nav-profile-details .flex a {
  padding: 0;
  font-size: 0.7em;
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
}
header nav .nav-profile-wrap .nav-profile-list .nav-profile-details .flex a:hover {
  background-color: transparent;
}
header nav .nav-profile-wrap .nav-profile-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}
header nav .nav-profile-wrap .nav-profile-list ul li {
  font-size: 0.8em;
  width: 100%;
  display: flex;
}
header nav .nav-profile-wrap .nav-profile-list ul li:nth-last-of-type(1) {
  margin-bottom: 0;
}
header nav .nav-profile-wrap .nav-profile-list ul li a {
  color: var(--text-color);
  text-decoration: none;
  transition: background-color 0.33s ease;
  display: flex;
  padding: 1em 1em;
  width: 100%;
}
header nav .nav-profile-wrap .nav-profile-list ul li a:hover {
  background-color: #f8f9fa;
}
header nav .nav-profile-wrap .nav-profile-list ul li .nav-form {
  display: flex;
  width: 100%;
}
header nav .nav-profile-wrap .nav-profile-list ul li .nav-form button {
  border: 0;
  font-size: inherit;
  background-color: transparent;
  transition: background-color 0.33s ease;
  display: flex;
  width: 100%;
  padding: 0.5em 1em;
}
header nav .nav-profile-wrap .nav-profile-list ul li .nav-form button:hover {
  background-color: #f8f9fa;
}
header nav button#nav-profile {
  background-color: transparent;
  border: 0;
  border: 1px solid #DDDDD7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  padding: 0.2em 0.2em 0.2em 0.4em;
  border-radius: 1em;
  margin-left: 1em;
  transition: box-shadow 0.33s ease;
}
header nav button#nav-profile:hover {
  box-shadow: var(--box-shadow);
}
header nav .current-user {
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #D9D9D7;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000;
  overflow: hidden;
  position: relative;
}
header nav .current-user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header nav .hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  z-index: 9999;
  margin-right: 0.5em;
}
header nav .hamburger:hover {
  opacity: 0.7;
}
header nav .hamburger.isActive:hover {
  opacity: 0.7;
}
header nav .hamburger.isActive .hamburger-inner,
header nav .hamburger.isActive .hamburger-inner::before,
header nav .hamburger.isActive .hamburger-inner::after {
  background-color: #000;
}
header nav .hamburger-box {
  width: 1em;
  height: 1em;
  display: inline-block;
  position: relative;
}
header nav .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
header nav .hamburger-inner,
header nav .hamburger-inner::before,
header nav .hamburger-inner::after {
  width: 1.15em;
  height: 0.1em;
  background-color: #000;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
header nav .hamburger-inner::before,
header nav .hamburger-inner::after {
  content: "";
  display: block;
}
header nav .hamburger-inner::before {
  top: -0.3em;
}
header nav .hamburger-inner::after {
  bottom: -0.3em;
}
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze.isActive .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.isActive .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.isActive .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
