main#login section#login-landing {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
}
@media only screen and (max-width: 767px) {
  main#login section#login-landing {
    font-size: 3.2vw;
  }
}
@media only screen and (min-width: 768px) {
  main#login section#login-landing {
    font-size: 1.7vw;
  }
}
@media only screen and (min-width: 1024px) {
  main#login section#login-landing {
    font-size: inherit;
    padding: 5em 0;
  }
}
main#login section#login-landing .container {
  max-width: 60em;
  margin: auto;
}
main#login section#login-landing .container form {
  display: flex;
  flex-direction: column;
  width: 20em;
  padding: 1em;
  box-shadow: var(--box-shadow);
  border-radius: 1em;
  margin-bottom: 0.5em;
}
main#login section#login-landing .container form input {
  border: 0;
  padding: 0.5em;
  box-shadow: var(--box-shadow);
  margin-bottom: 1em;
  width: 100%;
}
main#login section#login-landing .container form button {
  width: 100%;
  margin: 0;
}
main#login section#login-landing .container form button:hover {
  background-color: #202020;
  color: white;
}
main#login section#login-landing .container .note {
  font-size: 0.9em;
  text-align: center;
}
main#login section#login-landing .container .note a {
  color: var(--accent-color);
}
