main#profile section#profile-landing {
  width: 100%;
  max-width: 60em;
  margin: auto;
  padding: 5em 1em 3em;
}
@media only screen and (max-width: 767px) {
  main#profile section#profile-landing {
    font-size: 1em;
  }
}
@media only screen and (min-width: 768px) {
  main#profile section#profile-landing {
    font-size: 1.7vw;
    padding: 5em 0 5em;
  }
}
@media only screen and (min-width: 1024px) {
  main#profile section#profile-landing {
    font-size: inherit;
  }
}
main#profile section#profile-landing h1 {
  text-align: left;
  margin-bottom: 2em;
}
main#profile section#profile-landing h2 {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0.5em;
  color: var(--text-color);
}
main#profile section#profile-landing .container {
  width: 100%;
  max-width: 60em;
  margin: auto;
}
main#profile section#profile-landing .container .col {
  padding: 1em;
  box-shadow: var(--box-shadow);
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  main#profile section#profile-landing .container .col {
    max-width: 34em;
  }
}
main#profile section#profile-landing .container .col .item {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  padding: 0.5em 0 0.5em 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
main#profile section#profile-landing .container .col .item .edit-btn {
  position: absolute;
  font-size: inherit;
  background-color: transparent;
  border: 0;
  font-family: inherit;
  right: 0;
  top: 1em;
  font-size: 0.75em;
  color: #c1121f;
}
main#profile section#profile-landing .container .col .item:nth-child(1) {
  padding-top: 0;
}
main#profile section#profile-landing .container .col .item:nth-last-of-type(1) {
  border-bottom: 0;
  padding-bottom: 0;
}
main#profile section#profile-landing .container .col .item h2 {
  font-size: 0.8em;
  font-weight: 400;
  margin-bottom: 0.5em;
}
main#profile section#profile-landing .container .col .item p {
  font-size: 0.7em;
}
main#profile section#profile-landing .container .col .item .img-container {
  width: 5em;
  height: 5em;
  background-color: #edede9;
  position: relative;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}
main#profile section#profile-landing .container .col .item .img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
main#profile section#profile-landing .container .col .item .col-input {
  padding: 1em;
  width: 20em;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  background-color: transparent;
  font-size: 0.75em;
}
main#profile section#profile-landing .container .col .item .col-input.updated {
  border: 1px solid var(--accent-color);
}
main#profile section#profile-landing .container .col .item .col-input[disabled] {
  background-color: #f8f9fa;
}
main#profile section#profile-landing .container form#profile-logout button {
  background-color: #fff0f3;
  border: 0;
  padding: 1em 2em;
  color: var(--text-color);
  border-radius: 0.5em;
  transition: color 0.33s ease, background-color 0.33s ease;
  color: #e5383b;
  font-weight: 500;
}
#toast-notifications {
  width: auto;
  height: auto;
  position: fixed;
  top: 5em;
  right: 1em;
  z-index: 9999;
  pointer-events: none;
}
#toast-notifications ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
#toast-notifications ul .toast {
  padding: 1em;
  font-size: 0.75em;
  width: 15em;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#toast-notifications ul .toast img {
  width: 1.2em;
  height: 1.2em;
  margin-right: 1em;
  position: relative;
}
#toast-notifications ul .toast.success {
  background-color: #ebfbf6;
  border-left: 2px solid #007200;
}
#toast-notifications ul .toast.failed {
  background-color: #fdedee;
  border-left: 2px solid #ba181b;
}
#toast-notifications ul .toast.warning {
  background-color: #fff9e9;
}
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  padding: 2em;
  border-radius: 1em;
  position: relative;
  overflow: hidden;
  width: 20em;
  box-shadow: var(--box-shadow);
}
#modal .container #close {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  border: 0;
  font-size: inherit;
  background-color: transparent;
  padding: 0.2em;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.33s ease;
}
#modal .container #close img {
  width: 1em;
  height: 1em;
}
#modal .container #close:hover,
#modal .container #close:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
#modal .container h2 {
  font-size: 1.25em;
  text-align: left;
  margin: 0 0 1em 0;
}
#modal .container input {
  padding: 1em;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  color: #202020;
  margin-bottom: 0.5em;
}
#modal .container #update-btn {
  padding: 0.5em 1em;
  border: 0;
  font-size: 0.75em;
}
